<!--Dialog-->

<!--Materials-->
<div *ngIf="activeTrader.materials.length > 0">
  <div class="sectionTitle" (click)="setShowOption('materials')">Materials for sale
    <span *ngIf="!showMaterials">&#9204;</span>
    <span *ngIf="showMaterials">&#9207;</span>
  </div>
  <div *ngIf="showMaterials">
    <hr>
    <tr>
      <td class="column">Name</td>
      <td class="column">Available</td>
      <td class="column">Inventory</td>
      <td class="column">Price</td>
    </tr>
    <tr class="selection" *ngFor="let traderMaterial of activeTrader.materials; let i=index;">
      <td class="column">
        {{i+1}}.
        {{traderMaterial.name}}
      </td>
      <td class="column">
        {{traderMaterial.quantity}}
      </td>
      <td class="column">
        <div style="display:flex" >
          <div>
          {{getPlayerMaterialInventory(traderMaterial)}}
          </div>
          <div style="padding-left:20px">
            <button style="padding:0 5px;" (click)="buyMaterial(traderMaterial)">+</button>
          </div>
        </div>
      </td>
      <td class="column">
        ${{traderMaterial.material.price}}
      </td>
    </tr>
    <hr>
  </div>
</div>

<!--Magic Materials-->
<div *ngIf="activeTrader.magicMaterials.length > 0">
  <div class="sectionTitle" (click)="setShowOption('magicMaterials')">Magic Materials for sale
    <span *ngIf="!showMagicMaterials">&#9204;</span>
    <span *ngIf="showMagicMaterials">&#9207;</span>
  </div>
  <div *ngIf="showMagicMaterials">
  <hr>
  <tr>
    <td class="column">Name</td>
    <td class="column">Available</td>
    <td class="column">Inventory</td>
    <td class="column">Price</td>
  </tr>
  <tr class="selection" *ngFor="let traderMagicMaterial of activeTrader.magicMaterials; let i=index;">
    <td class="column">
      {{i+1}}.
      {{traderMagicMaterial.name}}
    </td>
    <td class="column">
      {{traderMagicMaterial.quantity}}
    </td>
    <td class="column">
      <div style="display:flex" >
        <div>
        {{getPlayerMagicMaterialInventory(traderMagicMaterial)}}
        </div>
        <div style="padding-left:20px">
          <button style="padding:0 5px;" (click)="buyMagicMaterial(traderMagicMaterial)">+</button>
        </div>
      </div>
    </td>
    <td class="column">
      ${{traderMagicMaterial.price}}
    </td>
  </tr>
  <hr>
</div>
</div>

<!--Weapon Designs-->
<div *ngIf="getavailableWeaponDesigns().length > 0">
  <div class="sectionTitle" (click)="setShowOption('weaponDesigns')">Weapon Designs for sale
    <span *ngIf="!showWeaponDesigns">&#9204;</span>
    <span *ngIf="showWeaponDesigns">&#9207;</span>
  </div>
  <div *ngIf="showWeaponDesigns">
    <hr>
    <tr>
      <td class="column">Name</td>
      <td class="column">Price</td>
    </tr>
    <tr class="selection" *ngFor="let weaponDesign of getavailableWeaponDesigns(); let i=index;">
      <td class="column">
        {{i+1}}.
        {{weaponDesign.name}}
      </td>
      <td class="column">
        <div style="display:flex" >
          <div>
            ${{weaponDesign.price}}
          </div>
          <div style="padding-left:20px">
            <button style="padding:0 5px;" (click)="buyWeaponDesign(weaponDesign)">+</button>
          </div>
        </div>
      </td>
    </tr>
    <hr>
  </div>
</div>

<!--Magic Spells-->
<div *ngIf="activeTrader.magicSpells.length > 0">
  <div class="sectionTitle">Magic Spells for sale</div>
</div>
