<div *ngIf="!showSkill">
  <div class="title">Skills</div>
  <div class="selection" (click)="showSkill='crafting'">Crafting Skills</div>
  <div class="selection" (click)="showSkill='trading'">Trading Skills</div>
  <div class="selection" (click)="showSkill='magic'">Magic Skills</div>
</div>

<div>
  <div *ngIf="showSkill==='crafting'">
    <div class="title">
    <span class="back" (click)="showSkill=''">&#8678;</span>
    Crafting Skills</div>
    <crafting-skills></crafting-skills>
  </div>
  
  <div *ngIf="showSkill==='trading'">
    <div class="title">
    <span class="back" (click)="showSkill=''">&#8678;</span>
    Trading Skills</div>
    <trading-skills></trading-skills>
  </div>

  <div *ngIf="showSkill==='magic'">
    <div class="title">
    <span class="back" (click)="showSkill=''">&#8678;</span>
    Magic Skills</div>
    <magic-skills></magic-skills>
  </div>
</div>