.selection {
  cursor: pointer;
  padding: 20px;
  margin-top: 3px;
  margin-left: 10px;
  width: 160px;
  font-size: large;
}

.selection:hover {
  background-color: aquamarine;
}

.back {
  cursor: pointer;
}