<div *ngIf="!showSkill">
  <div class="title">Skills</div>
  <div class="selection" (mouseover)="mover('crafting')" (mouseleave)="mover(null)" (click)="showSkill='crafting'">
    <span *ngIf="x === 'crafting'; else not">⬗</span>
    Crafting Skills
  </div>
  <div class="selection" (mouseover)="mover('trading')" (mouseleave)="mover(null)" (click)="showSkill='trading'">
  <span *ngIf="x === 'trading'; else not">⬗</span>
    Trading Skills
  </div>
  <div class="selection" (mouseover)="mover('magic')" (mouseleave)="mover(null)" (click)="showSkill='magic'">
  <span *ngIf="x === 'magic'; else not">⬗</span>
  Magic Skills
</div>
</div>

<div>
  <div *ngIf="showSkill==='crafting'">
    <div class="title">
    <span class="back" (click)="showSkill=''">&#8678;</span>
    Crafting Skills</div>
    <crafting-skills [playerData]="playerData"></crafting-skills>
  </div>
  
  <div *ngIf="showSkill==='trading'">
    <div class="title">
    <span class="back" (click)="showSkill=''">&#8678;</span>
    Trading Skills</div>
    <trading-skills [playerData]="playerData"></trading-skills>
  </div>

  <div *ngIf="showSkill==='magic'">
    <div class="title">
    <span class="back" (click)="showSkill=''">&#8678;</span>
    Magic Skills</div>
    <magic-skills [playerData]="playerData"></magic-skills>
  </div>
</div>

<ng-template #not>⬖</ng-template>