.menu-options {
  padding-top: 10px;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 46rem;
}

.menu-options > div {
  font-size: 18px;
  padding: 16px 10px;
}

.menu-options > div:hover {
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}
