.options {
  padding-top: 10px;
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 37.4rem;
}

.options > div {
  font-size: 18px;
  padding: 16px 10px;
}

.options > div:hover {
  background-color: lightgray;
  cursor: pointer;
}
