.menu {
  margin: 0;
  padding: 0;
  width: 25%;
}

.appcomponent {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-left-style: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 75%;
  height: 38rem;
}
