<h1>Blacksmith Life</h1>
<div>Money: {{ playerData.money }}</div>

<div style="display: flex; background-color: rgb(224, 212, 188)">
  <menu class="menu" [menu]="menu" [gameStateData]="gameStateData"></menu>

  <div class="appcomponent">
    <div *ngIf="menu.selected === 'game'">
      <game-option
        [playerData]="playerData"
        [gameStateData]="gameStateData"
      ></game-option>
    </div>
    <div *ngIf="menu.selected === 'forge'">
      <forge [playerData]="playerData"></forge>
    </div>
    <div *ngIf="menu.selected === 'anvil'">
      <anvil></anvil>
    </div>
    <div *ngIf="menu.selected === 'store'">
      <store></store>
    </div>
    <div *ngIf="menu.selected === 'map'">
      <map></map>
    </div>
    <div *ngIf="menu.selected === 'trader'">
      <trader></trader>
    </div>
    <div *ngIf="menu.selected === 'npc'">
    <npc></npc>
  </div>
    <div *ngIf="menu.selected === 'crafting skills'">
      <crafting-skills></crafting-skills>
    </div>
    <div *ngIf="menu.selected === 'trading skills'">
      <trading-skills></trading-skills>
    </div>
    <div *ngIf="menu.selected === 'magic skills'">
      <magic-skills></magic-skills>
    </div>
  </div>
</div>
<span style="cursor: none" (click)="developerTool($event)"
  >.</span
>
