<div style="display:flex;">
  <h1>Blacksmith Life</h1> 
  <p style="font-size:smaller">v0.4 alpha</p>
</div>

<div>Money: {{ playerData.money }}</div>
<div class="app-view">
  <menu class="menu" [gameStateData]="gameStateData"></menu>

  <!--Select from the menu to view option component-->
  <div class="component-view">
    <div *ngIf="gameStateData.selected === 'game'">
      <game-option
        [playerData]="playerData"
        [gameStateData]="gameStateData"
      ></game-option>
    </div>
    <div *ngIf="gameStateData.selected === 'forge'">
      <forge [playerData]="playerData"></forge>
    </div>
    <div *ngIf="gameStateData.selected === 'anvil'">
      <anvil></anvil>
    </div>
    <div *ngIf="gameStateData.selected === 'store'">
      <store></store>
    </div>
    <div *ngIf="gameStateData.selected === 'map'">
      <map [playerData]="playerData" [gameStateData]="gameStateData"></map>
    </div>
    <div *ngIf="gameStateData.selected === 'crafting skills'">
      <crafting-skills></crafting-skills>
    </div>
    <div *ngIf="gameStateData.selected === 'trading skills'">
      <trading-skills></trading-skills>
    </div>
    <div *ngIf="gameStateData.selected === 'magic skills'">
      <magic-skills></magic-skills>
    </div>
  </div>
</div>
<span style="cursor: none" (click)="developerTool($event)">.</span>
