<h1>Blacksmith Life</h1>
<div style="display: flex; background-color: rgb(224, 212, 188)">
  <menu class="menu" [menu]="menu"></menu>

  <div class="appcomponent">
    <div *ngIf="menu.selectedOption === 'game'">
      <game-option></game-option>
    </div>
    <div *ngIf="menu.selectedOption === 'anvil'">
      <anvil></anvil>
    </div>
    <div *ngIf="menu.selectedOption === 'forge'">forge</div>
    <div *ngIf="menu.selectedOption === 'store'">store</div>
    <div *ngIf="menu.selectedOption === 'map'">map</div>
    <div *ngIf="menu.selectedOption === 'trader'">trader</div>
    <div *ngIf="menu.selectedOption === 'crafting skills'">crafting skills</div>
    <div *ngIf="menu.selectedOption === 'trading skills'">trading skills</div>
    <div *ngIf="menu.selectedOption === 'magic skills'">magic skills</div>
  </div>
</div>
