<p class="title">Game Options</p>
<div class="options">
  <p class="selection" (click)="newGame()" (mouseover)="mover('new')" (mouseleave)="mover(null)">
    <span *ngIf="x === 'new'; else not">⬗</span>
    New Game</p>
  <p class="selection" (click)="saveGame()" (mouseover)="mover('save')" (mouseleave)="mover(null)">
  <span *ngIf="x === 'save'; else not">⬗</span>
    Save Game</p>
  <p class="selection" (click)="loadGame()" (mouseover)="mover('load')" (mouseleave)="mover(null)">
  <span *ngIf="x === 'load'; else not">⬗</span>
    Load Game</p>
  <div>
    <input
      type="checkbox" 
      style="margin-left:22px; cursor:pointer;" 
      id="useLocalStorage"
      [(ngModel)]="useLocalStorage"
    > 
    <label for="useLocalStorage" style=" cursor:pointer;"> Use local storage </label>
  </div>
  <div *ngIf=!useLocalStorage>
    <br>
    <textarea cols="32" rows="16" [(ngModel)]="tf"></textarea>
    <br>
    <button style="margin-left:22px" (click)="tf=''">Clear Text</button>
  </div>
</div>

<ng-template #not>⬖</ng-template>
