<p class="title">Game Options</p>
<div class="options">
  <p class="selection" (click)="newGame()" (mouseover)="mover('new')" (mouseleave)="mover(null)">
    <span *ngIf="x === 'new'; else not">⬗</span>
    New Game</p>
  <p class="selection" (click)="saveGame()" (mouseover)="mover('save')" (mouseleave)="mover(null)">
  <span *ngIf="x === 'save'; else not">⬗</span>
    Save Game</p>
  <p class="selection" (click)="loadGame()" (mouseover)="mover('load')" (mouseleave)="mover(null)">
  <span *ngIf="x === 'load'; else not">⬗</span>
    Load Game</p>
  <br>
  <textarea cols="46" rows="10" [(ngModel)]="tf"></textarea>
  <p>Enter Data Text to load</p>
  <p>copy and save Data Text to file to save</p>
</div>

<ng-template #not>⬖</ng-template>
