.selection {
  cursor: pointer;
  width: 160px;
  padding: 20px;
}

.selection:hover {
  background-color: aquamarine;
}

.gameMessage {
  font-size: large;
  background-color: aquamarine;
  padding: 10px;
  padding-left: 36px;
} 