<p class="title">Forge</p>

<div class="options">
  <p>Choose material</p>
  <div class="forgeSel" *ngIf="playerData && playerData.materials">
    <tr
      class="section selection"
      *ngFor="let material of playerData.materials"
      (click)="setSelectedMaterial(material)"
    >
      <td class="Column">{{ material.name }}</td>
      <td class="Column">({{ material.quantity }})</td>
      <td class="Column">${{ material.value }}</td>

      <td *ngIf="material.name === selectedMaterial?.name">+</td>
      <td *ngIf="material.name !== selectedMaterial?.name"></td>
    </tr>
  </div>

  <p>Choose weapon type</p>
  <div class="forgeSel" *ngIf="playerData && playerData.weaponTypes">
    <tr class="section selection"
    *ngFor="let weapon of playerData.weaponTypes"
    (click)="setSelectedWeaponType(weapon)"
    >
      <td class="Column">{{ weapon.name }}</td>
      <td class="Column"></td>
      <td class="Column">${{ weapon.value}}</td>
      
      <td *ngIf="weapon.name === selectedWeaponType?.name">+</td>
      <td *ngIf="weapon.name !== selectedWeaponType?.name"></td>
    </tr>
  </div>

  <p *ngIf="playerData.magicList.length>0">choose magic</p>
</div>

<div *ngIf="selectedMaterial && selectedWeaponType">
  <p class="build">Weapon</p>
  <div class="buildOption">
    {{ selectedMaterial.name }} {{ selectedWeaponType.name }}
  </div>
  <button class="buildButton">Build Weapon</button>
</div>
