.selection {
  cursor: pointer;
  
}

.selection:hover {
  background-color: aquamarine;
}

.column {
  width:100px;
  padding: 1px;
  text-align: center;
}

.build {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px 20px 10px;
  margin: 0;
}

.buildOption {
  padding: 5px 20px 5px;
  font-size: large;
  font-weight: bold;
}

.buildButton {
  margin: 5px 10px 5px;
}

.chevronButton {
  cursor: pointer;
}

.flavorText {
  font-size: small;
  margin: 0;
}