.selection {
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
}

.selection:hover {
  background-color: aquamarine;
}

.selectionName {
  width:100px;
  text-align: center;
}

.build {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 20px;
  padding-left: 10px;
  margin: 0;
}

.buildOption {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  font-size: large;
  font-weight: bold;
}

.buildButton {
  margin: 5px 10px 5px;
}

.chevronButton {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 20px;
}

.flavorText {
  padding-left: 146px;
  font-size: small;
  margin: 0;
}