
.selection {
  cursor: pointer;
}

.selection:hover {
  background-color: aquamarine;
}

.forgeSel {
  width: 85%;
}

.build {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px 20px 10px;
  margin: 0;
}

.buildOption {
  padding: 5px 20px 5px;
}

.buildButton {
  margin: 5px 10px 5px;
}

.column {
  min-width: 75px;
  width: 30%;
  padding: 5px;
}
