/* Add application styles & imports to this file! */
html {
  max-width:700px;
}

.title {
  font-size: 20.8px;
  font-weight: bold;
  margin: 10px 0;
  padding: 20px 10px;
  background-color: gray;
}

.options {
  padding: 0 20px;
}

button {
  padding: 5px;
  background-color: rgb(218, 194, 147);
  font-family: copperplate, fantasy;
  border-radius: 4px;
}

button:hover {
  background-color: aquamarine;
}
