<!--MAP-->
<div *ngIf="!selectedLocation">
  <div class="title">Map Locations</div>
  <tr *ngFor="let locRow of getLocationRow()">
    <td
      [attr.style]="loc === selectedLocation ? 'border: 1px solid gray;' : ''"
      class="selection"
      *ngFor="let loc of locRow"
      (click)="setSelectedLocation(loc)"
    >
      <div class="column">{{ loc }}</div>
    </td>
  </tr>
</div>

<!--LOCATION-->
<div *ngIf="selectedLocation && !selectedActor">
  <div class="title">
  <span class="back" (click)="setSelectedLocation(selectedLocation)">&#8678;</span>
    {{ selectedLocation }}
  </div>
  <tr *ngFor="let actorRow of getActorRow()">
    <td 
    [attr.style]="actor === selectedActor ? 'border: 1px solid gray;' : ''"
    class="selection"
    *ngFor="let actor of actorRow"
    (click)="setSelectedActor(actor)"
    >
      <div class="column"> {{ actor.name }} </div>
    </td>
  </tr>
</div>

<!--ACTOR-->
<div *ngIf="selectedActor">
  <div class="title"> 
    <span class="back" (click)="setSelectedActor(selectedActor)">&#8678;</span>
    {{ selectedActor.name }}
  </div>
  <trader
    *ngIf="selectedActor.role === 'trader'" 
    [playerData]="playerData"
    [activeTraderName]="selectedActor.name"></trader>
  <npc
    *ngIf="selectedActor.role === 'npc'"
    [playerData]="playerData"
    [activeTraderName]="selectedActor.name"></npc>
</div>
