<h3 class="title">Map Locations</h3>
<tr *ngFor="let locRow of getLocationRow()">
<td
  [attr.style]="loc === selectedLocation ? 'border: 1px solid gray;' : ''"
  class="selection"
  *ngFor="let loc of locRow"
  (click)="setSelectedLocation(loc)"
>
  <p class="column">{{ loc }}</p>
</td>
</tr>

<div *ngIf="selectedLocation">
  <p class="title">{{ selectedLocation }}</p>
  <tr *ngFor="let actorRow of getActorRow()">
    <td 
    [attr.style]="actor === selectedActor ? 'border: 1px solid gray;' : ''"
    class="selection"
    *ngFor="let actor of actorRow"
    (click)="setSelectedActor(actor)"
    >
      <p class="column"> {{ actor.name }} </p>
    </td>
  </tr>
  <hr>
  <div *ngIf="selectedActor">
    {{ selectedActor.role }}
  </div>
</div>
