.selection {
  cursor: pointer;
  
}

.selection:hover {
  background-color: aquamarine;
}

.column {
  width:120px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
}

.back {
  cursor: pointer;
}
